.array-container {
  position: absolute;
  left: 10px;
  /* top: 100px; */
}

.array-bar {
  width: 7px;
  display: inline-block;
  margin: 0 1px;
  position: relative;
}

.array-bar .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color:whitesmoke;
  color: darkslategray;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-weight: bold;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.array-bar:hover .tooltiptext {
  visibility: visible;
}


/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  height: 150px;
}

.header > div {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 20%;
  text-align: center;
}

/* The grid container */
.grid-container {
  min-height: calc(100vh - 70px);
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
    grid-column-gap: 10px;
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle,
.right {
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

.input-range{
  margin: 5 5px;
}

.input-range:hover .tooltiptext {
  visibility: visible;
}
.input-range .tooltiptext
{
  font-weight: bold;
  visibility: hidden;
  width: 60px;
  background-color:whitesmoke;
  color: darkslategray;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-weight: bold;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
p{
  margin-right: 10px;
}
/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  height: 50px;
}
#bars hr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 5px;
  border: none; 
  height: 5px; 
  background: darkslategray;
}
h1 { font-family: Lato; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Lato; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Lato; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
