.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.sticky_btn {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  background: var(--background);
  border: 2px solid currentColor;
  padding: 4px;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  overflow: hidden;
}
